<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mx-auto w-25">
        <h1> HotelAndes</h1>
        <img th:src="@{/images/logo.jpg}" width="250" alt = "logo">
    <div>
        <a th:href="@{/Reservas}" class="btn btn-primary">Reservas</a>
        <a th:href="@{/Hoteles}" class="btn btn-primary">Hoteles</a>
        <a th:href="@{/Usuarios}" class="btn btn-primary">Usuarios</a>
        <a th:href="@{/Usuarios/TiposUsuarios}" class="btn btn-primary">TiposUsuarios</a>
    </div>
    <br />
    <div>
        <a th:href="@{/rfc1}" class="btn btn-primary">REQ1</a>
        <a th:href="@{/rfc2}" class="btn btn-primary">REQ2</a>
        <a th:href="@{/rfc3}" class="btn btn-primary">REQ3</a>
        <a th:href="@{/rfc5}" class="btn btn-primary">REQ5</a>
        <a th:href="@{/rfc6}" class="btn btn-primary">REQ6</a>
        <a th:href="@{/rfc7}" class="btn btn-primary">REQ7</a>
        <a th:href="@{/rfc8}" class="btn btn-primary">REQ8</a>
    </div>


</body>
</html>